.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 1.5rem;
        padding: 1rem;
        background-color: var(--secondary-background-color);
        color: var(--main-text-color);
        .brand-name{
            text-align: center;
            margin: 0rem 0rem 0rem 1rem;
            font-size: 1.5rem;
        }
        i{
            font-size: 1.5rem;
        }
    }
    .heading{
        height: 7rem;
        background-color: var(--main-background-color);
        display: flex;
        padding: 1rem;
        align-items: center;
        h2{
            margin: 0rem 0rem 0rem 1rem;
            font-size: 1.5rem;
        }
        i{
            font-size: 1.5rem;
        }
    }
    table{
        width: 100% ;
        overflow: scroll;
    }
    .wrapper{
        flex-grow: 1;
        display: flex;
        padding: 1rem .5rem;
        background-color: var(--main-background-color);
        .success-message{
            height: 2rem;
            border-radius: 0.08rem;
            color:var(--main-text-color);
            background-color: var(--secondary-background-color);
            padding: .5rem;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 1rem;
            align-self: flex-end;
            width: 100%;
        }
    }
}
