.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20rem;
    height: 35rem;
    margin: auto;
    margin-top: 7rem;
    padding: 2rem;
    text-align: center;
    background-color: var(--main-text-color);
    box-shadow: 15px 15px 15px rgba(20, 78, 104, 0.15);
    h1{
        margin-bottom: 5rem;
        font-size: 2rem;
    }
    .error-message{
        color: red;
    }
    .username{
        width: 100%;
        margin-bottom: 1.5rem;
        mat-form-field{
            width: 100%;
        }
    }
    .password{
        width: 100%;
        margin-bottom: 1.5rem;
        mat-form-field{
            width: 100%;
        }
    }
    button{
        width: 100%;
    }
}




