<div class="container">
    <h1 class="brand-name">ParxLab</h1>
    <div class="error-message">
        {{errorMessage}}
    </div>
    <div class="username">
        <mat-form-field class="example-full-width">
            <mat-label>Kullanıcı adı</mat-label>
            <input matInput placeholder="Kullanıcı adı" [(ngModel)]="username" required>
        </mat-form-field>
    </div>
    <div class="password">
        <mat-form-field class="example-full-width">
            <mat-label>Parola</mat-label>
            <input type="password" matInput placeholder="Parola" [(ngModel)]="password" required>
        </mat-form-field>
    </div>
    
    <button type="submit" mat-raised-button color="primary" [disabled]="username == null || password == null"
        (click)="onSubmit()">
        <div>Giriş Yap</div>
    </button>
</div>